body {
    background: radial-gradient(navy, black);
    margin: 0;
    padding: 0;
}

.main {
    display:flex;
    height:100%;;
    width: 300px;
    justify-content:center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    flex-direction:column;
}

.title {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size:48px;
    width:max-content;
    margin-bottom: 48px;
    -webkit-text-stroke: 1px white;
    font-weight: bolder
}



.results {
    border:black solid 1px;
    height:160px;
    width:300px;
    background: black;
    border: 1px white solid;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 16px;
}



.buttonContainer {
    display:flex;
    flex-direction: row;
    gap: 32px;
    margin-top:48px;
}

.buttonContainer button {
    height:66px;
    width:150px;
    background-color: black;
    border: 1px solid white;
    font-size:32px;
}

#resetBtn {
    height: 16px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    color:white;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 12px;
}

button {
    cursor:pointer;
}

.gameScores {
    margin-left:28px;
    font-size:22px;
    color:white;
}

#playerSign {
    color:blue;

}

#computerSign {
    color:red;
}

.score {
    display:flex;
    justify-content: flex-start;
    margin-left: 28px;
    font-size:22px;
    gap:16px;
}

.scoreText {
    color:white;
}

#playerScore {
    color:blue;
}

#computerScore {
    color:red;
}